* {
  box-sizing: border-sizing;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body, html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

section {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
  position: relative;
}

section.active {
  height: 100%;
}


body {
  text-align: center;
}

#fullscreen p {
  font-family: monospace;
  font-size: 7vw;
  margin-top: 40vw;
}

#fullscreen a {
  font-family: monospace;
  font-size: 5vw;
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid #999;
}


#title {
  background: #000;
  color: #fff;
}

#title h1 {
  font-family: "Limelight", serif;
  font-size: 25vw;
}

#title a {
  font-family: serif;
  font-style: italic;
  font-size: 15vw;
  display: inline-block;
  padding: 5px;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
}


#selectyou {
  background: #fff;
  color: #000;
  text-align: center;
}

#selectyou h2 {
  font-weight: 400;
  font-size: 20vw;
  font-style: italic;
  font-family: serif;
  border-bottom: 2px solid #999;
  margin: 5vw;
  margin-bottom: 10vw;
  padding-bottom: 7vw;
}

#selectyou a {
  font-family: serif;
  font-style: italic;
  font-size: 9vw;
  display: inline-block;
  padding: 0.2vw;
  border-bottom: 2px solid #999;
  margin-bottom: 5vw;
  color: #000;
  text-decoration: none;
}


#ftf .buzzer {
  width: 70vw;
  height: 70vw;
  margin: 30vw auto;
  border-radius: 50%;
  display: inline-block;
  background: red;
  box-shadow: inset 0 5vw 8vw rgba(255,255,255,0.7),
              0 5vw 0 darkred;
  transform: scaleY(0.8);
  top: 0;
  transition: box-shadow 0.2s, top 0.2s;
  position: relative;
}
#ftf .buzzer:active {
  top: 3vw;
  box-shadow: inset 0 5vw 8vw rgba(255,255,255,0.7),
              0 0 0 darkred;
}

#ftf .next {
  font-family: serif;
  font-style: italic;
  font-size: 9vw;
  display: inline-block;
  margin: 10vw;
  padding: 0.2vw;
  border-bottom: 2px solid #999;
  color: #000;
  text-decoration: none;
}


#wtp1, #wtp2, #wtp3 {
  background: url("wtp-bg.png");
  font-family: monospace;
}

.wtpa {
  border-bottom: 2px solid #00FF00;
  color: #00FF00;
  font-size: 10vw;
  margin: 15vw;
  text-decoration: none;
  padding: 1vw;
  display: inline-block;
}
